<template>
    <div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Grupos</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="form-group">


                            <div class="col-md-3">
                                <label for="">Nombre del Grupo</label>
                                <input type="text"
                                       class="form-control"
                                       v-model=" name "
                                       v-if="!edit"
                                       v-on:keyup.enter=" addElement() "
                                       id=" name "
                                >
                                <input type="text"
                                       class="form-control"
                                       v-model=" name "
                                       v-if="edit"
                                       v-on:keyup.enter=" editElement() "
                                       id=" nameEdit "
                                >

                            </div>

                            <div class="col-md-3">
                                <label for="">Acciones</label>
                                <br>
                                <button class="btn btn-primary"
                                        v-if="!edit"
                                        @click=" addElement() "
                                >

                                    <i class="fa fa-plus"></i>

                                </button>

                                <button class="btn btn-primary"
                                        v-if="edit"
                                        @click=" editElement() "
                                >

                                    <i class="icon-pencil"></i>

                                </button>

                                <button class="btn btn-primary red"
                                        v-if="edit"
                                        @click=" cancelEdit() "
                                >

                                    <i class="glyphicon glyphicon-remove"></i>

                                </button>

                            </div>
                        </div>

                    </div>

                    <div class="row margin-top-30">

                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="width-50-p"> Nombre </th>
                                        <th class="width-50-p"> Acciones </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for=" ( item , index ) in listNotDeleted">


                                        <th> {{ item.name}} </th>
                                        <th>
                                            <button class="btn btn-outline blue-steel btn-xs active-button"
                                                    @click=" editItem( index ) "
                                                    v-if="!edit"
                                            >
                                                <i class="icon-pencil"></i>
                                                Editar
                                            </button>
                                            <button class="btn btn-outline red btn-xs active-button"
                                                    @click=" deleteItem( item.id ) "
                                                    v-if="!edit"
                                            >
                                                <i class="fa fa-trash"></i>
                                                Eliminar
                                            </button>
                                            
                                        </th>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Asignar usuario a grupo</span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="form-group">


                            <div class="col-md-3">
                                <label for="">Grupo</label>
                                <select name=""
                                        id="selectGroups"
                                        class="form-control select2"
                                        v-model="group"
                                >
                                    <option v-for="group in listNotDeleted" :value="group.id"> {{ group.name }} </option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label for="">Usuario</label>
                                <select name=""
                                        id="selectUser"
                                        v-model="user"
                                        class="form-control select2"
                                >
                                    <option v-for="user in users" :value="user"> {{ user.name }} </option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="">Acciones</label>
                                <br>
                                <button class="btn btn-primary"
                                        @click=" addUserToGroup() "
                                >

                                    <i class="fa fa-plus"></i>

                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Usuarios en grupo {{group}}</span>
                </div>
                <div class="actions">
                    <a href="" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Acción
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="width-50-p"> Nombre </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for=" ( user , index ) in usersGroup">
                        <th> {{ user.name}} </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</template>

<script>
    export default {
        props : [''],
        data: function() {
            return {
                isShow: false,
                name: '',
                itemToEdit: {},
                edit: false,
                listNotDeleted: [],
                users: [],
                user: '',
                group: '',
                usersGroup: [],
            }
        },
        mounted: function(){
            $("#name").focus();

            this.getGroups();
            this.getUsers();

        },
        methods: {

            getGroups(){
                axios.get('/api/grupos' )
                    .then((response) => {
                        this.listNotDeleted = response.data;
                    }, (response) => {
                        swal( "Error", 'Ocurrió un error al cargar los elementos, intenta más tarde', 'error');
                    });
            },

            getUsers(){
                axios.get('/api/usuarios' )
                    .then((response) => {
                        this.users = response.data;
                    }, (response) => {
                        swal( "Error", 'Ocurrió un error al cargar los elementos, intenta más tarde', 'error');
                    });
            },

            addElement() {
                if(this.name != "")
                {
                    for(var i = 0; i < this.listNotDeleted.length; i++){
                        if(this.name == this.listNotDeleted[i].name){
                            swal(
                                'Oops...',
                                'Ya existe ese identificador ',
                                'error'
                            );
                            $("#name").focus();
                            return;
                        }
                    }

                    axios.post('/api/grupos/nuevo', {'name': this.name, 'year':"2014-2015", 'school' :'UMG'})
                        .then(res =>{
                        this.listNotDeleted.push( {
                        name : res.data.name,
                        id: res.data.id
                    });
                });
                    this.name = '';
                    $("#name").focus();
                }
            },

            addUserToGroup(){
                if(this.user.id != '' && this.group != ''){
                    axios.post('/api/usuarios/grupos/nuevo', {'user_id': this.user.id, 'group_id': this.group })
                        .then((res) => {
                            swal("Éxito", "Se asignó el grupo al usuario", "success");
                            this.getUsersGroup();
                        });
                }
            },

            deleteItem(id){
                axios.delete('/api/grupos/eliminar/' + id)
                    .then(res =>{
                        axios.get('/api/grupos' )
                            .then((response) => {
                                this.listNotDeleted = response.data;
                                swal( "Grupo Eliminado", 'El grupo se eliminó correctamente.', 'warning');
                            });
                    });
            },

            editItem(index){
                $("#nameEdit").focus();
                this.edit = true;
                this.name = this.listNotDeleted[index].name;
                this.itemToEdit = this.listNotDeleted[index];
                for(var i = 0; i < this.listNotDeleted.length; i++){
                    if(this.listNotDeleted[i].name == this.itemToEdit.name){
                        this.listNotDeleted.splice(index, 1);
                    }
                }
            },

            cancelEdit(){
                console.log(this.itemToEdit);
                axios.patch('/api/grupos/editar/' + this.itemToEdit.id, {'name': this.name})
                    .then(res =>{
                        axios.get('/api/grupos' )
                            .then((response) => {
                                this.listNotDeleted = response.data;
                                this.edit = false;
                                this.name = "";
                            });
                    });
            },

            editElement(){
                if(this.name != "") {
                    for (var i = 0; i < this.listNotDeleted.length; i++) {
                        if (this.name == this.listNotDeleted[i].name) {
                            swal(
                                'Oops...',
                                'Ya existe ese identificador ',
                                'error'
                            );
                            $("#name").focus();
                            return;
                        }
                    }

                    axios.patch('/api/grupos/editar/' + this.itemToEdit.id, {'name': this.name})
                        .then(res =>{
                            axios.get('/api/grupos' )
                                .then((response) => {
                                    this.listNotDeleted = response.data;
                                    swal( "Exito", 'El elemento se editó correctamente.', 'success');
                                    this.edit = false;
                                    this.name = "";
                                });
                        });
                }
            },

            getUsersGroup(){
                axios.get('/api/grupos/usuarios/' + this.group)
                    .then((res) =>{
                        this.usersGroup = res.data;
                    });
            },
        },
        watch: {
            group(){
                this.getUsersGroup();
            }
        }

    }
</script>
