.logo-header {
  width: 50px;
  margin: 5px !important;
}

.width-400 {
  width: 400px;
}

.server-card {
  border: 1px solid #c3c3c3;
}

.margin-20 {
  margin: 20px;
}

.padding-15 {
  padding: 15px;
}

.font-size-20 {
  font-size: 20px;
}

.app-card-permissions {
  background-color: #4B77BE;
  padding: 10px 10px 20px 10px;
  color: white;
  text-align: center;
}

.app-card-permissions:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(30, 50, 80, 0.8);
  box-shadow: 0px 0px 0px 3px rgba(30, 50, 80, 0.8);
}

.margin-top-20 {
  margin-top: 20px;
}

.width-100p {
  widows: 100%;
}

.width-80p {
  widows: 80%;
}

.width-70p {
  widows: 70%;
}

.width-20p {
  width: 20%;
}

.width-10p {
  widows: 10%;
}

