<template>

    <div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Archivos</span>
                </div>
                <div class="actions">
                    <button class="btn btn-primary btn-outline red"
                            @click="showModalFolder()"
                    >
                        <i class="fa fa-folder"></i>
                        Agregar directorio
                    </button>
                    <button class="btn btn-primary btn-outline blue-madison"
                            @click="showModalFile()"
                    >
                        <i class="fa fa-file"></i>
                        Agregar archivo
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <button class="btn btn-primary btn-sm red pull-right margin-20"
                                v-if="root.id != actualFolder"
                                @click="getFiles(root.id)"
                        >
                            Raiz
                        </button>
                        <button class="btn btn-primary btn-sm yellow pull-right margin-20"
                                v-if="root.id != father.id"
                                @click="getFiles(father.file_id)"
                        >
                            Regresar
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center" v-if="files.length == 0">
                            <h2 class="bold uppercase font-blue-madison">
                                No hay archivos
                            </h2>
                        </div>
                        <table v-if="files.length != 0" class="width-100p table table-bordered table-hover" id="openTable">
                            <thead>
                            <tr>
                                <th class="width-70p">Nombre</th>
                                <th class="width-10p">Tamaño</th>
                                <th class="width-20p">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="file in files">
                                <td>
                                    {{ (!file.is_folder) ? file.name + '.' + file.ext : file.name  }}
                                </td>
                                <td>
                                    {{ (!file.is_folder) ? (parseInt(file.content.length) * 100)  + 'kb': '' }}
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm yellow-crusta btn-outline"
                                            v-if="file.is_folder"
                                            @click="getFiles(file.id)"
                                    >
                                        <i class="fa fa-folder-open-o"></i>
                                        Abrir
                                    </button>
                                    <a :href="'/archivos/visualizar/'+file.id"
                                       class="btn btn-primary btn-sm btn-outline green-jungle"
                                       v-if="!file.is_folder"
                                    >
                                        <i class="fa fa-eye"></i>
                                        Detalle
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <folder-modal   :actualFolder="actualFolder"
                        @responseAddFolder="responeFolder"
        ></folder-modal>

        <file-modal :actualFolder="actualFolder"
                    @responseAddFile="responeFile"
        >
        </file-modal>
    </div>

</template>

<script>

    export default {
        props: {
            root: {
                type: Object,
                required: true
            }
        },
        data: function() {
            return {
                files: [],
                oldFile: null,
                isFirstCall: true,
                actualFolder: 0,
                oldFolder: null,
                father: []
            }
        },

        mounted() {
            $( document ).ready((res) => {
                this.actualFolder = this.root.id;
                this.getFiles(this.root.id);
            });

        },

        methods: {
            getFiles(id){
                if(this.actualFolder != id)
                    this.oldFolder = this.actualFolder;

                axios.get('/api/archivos/' + id)
                    .then( (resp) => {
                        this.files = resp.data.files;
                        this.father = resp.data.father;
                        this.actualFolder = id;
                    })
                    .catch( (resp) => {
                        swal('Error', 'Ocurrió un error al cargar los archivos', 'error');
                        console.log(resp);
                    });
            },

            responeFolder(res){
                $('#modalFolder').modal('hide');

                if(res.status == 200){
                    swal('Éxito', res.data, 'success');
                    this.getFiles(this.actualFolder)
                }
                else{
                    swal('Error', res.data, 'error')
                }
            },

            responeFile(res){
                $('#modalFile').modal('hide');

                if(res.status == 200){
                    swal('Éxito', res.data, 'success');
                    this.getFiles(this.actualFolder)
                }
                else{
                    swal('Error', res.data, 'error')
                }
            },

            showModalFolder(){
                $("#modalFolder").modal('show')
            },

            showModalFile(){
                $("#modalFile").modal('show')
            },

        },
        watch: {

        },

    }
</script>
