<template>
    <div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalUpload">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <VueDropzone :ref="id"
                                     :id="String(id)"
                                     :options="dropzoneOptions"
                                     :destroyDropzone="destroyDropzone"
                                     @vdropzone-success="onSuccessUpload"
                                     @vdropzone-error="errorUpload"
                        />

                        <div class="row margin-top-30">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right"
                                        @click="uploadFiles()"
                                >
                                    Subir
                                </button>
                            </div>
                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    </div>
</template>

<script>

    import VueDropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {

        props: {
            addRemoveLinks: {
                type: Boolean,
                default: null
            },
            autoProcessQueue: {
                type: Boolean,
                default: null
            },
            acceptedFiles: {
                type: String,
                default: null
            },
            maxFiles: {
                type: Number,
                default: 1
            },
            title: {
                type: String,
                default: 'Subir archivo'
            },
            url: {
                type: String,
                default: '/api'
            },
            id: {
                type: String,
                default: 'dropzone'
            },
            showUploadModal: {
                required: true,
                type: Number
            }
        },

        components: {
            VueDropzone
        },

        data: function () {
            return {
                dropzoneOptions: {
                    addRemoveLinks: this.addRemoveLinks,
                    autoProcessQueue: this.autoProcessQueue,
                    acceptedFiles: this.acceptedFiles,
                    maxFiles: this.maxFiles,
                    url: this.url,
                    thumbnailWidth: 150,
                    maxFilesize: 50,
                    headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') },
                    dictDefaultMessage: 'Selecciona el archivo que deseas subir',
                    dictFallbackMessage: "Su navegador no admite la carga de archivos arrastrados.",
                    dictFallbackText: "Utilice el siguiente formulario alternativo para cargar sus archivos como en los viejos tiempos.",
                    dictFileTooBig: "El archivo es muy grande ({{filesize}}MiB). Tamaño máximo: {{maxFilesize}}MiB.",
                    dictInvalidFileType: "No puedes subir archivos de este tipo.",
                    dictResponseError: "El servidor respondió con código {{statusCode}}.",
                    dictCancelUpload: "Cancelar carga",
                    dictCancelUploadConfirmation: "¿Seguro que quieres cancelar esta carga?",
                    dictRemoveFile: "Remover archivo",
                    dictMaxFilesExceeded: "No puedes subir más archivos.",
                },
                destroyDropzone: false
            }
        },

        mounted: function () {
            $('#modalUpload').on('hidden.bs.modal', () => {
                this.$refs[this.id].removeAllFiles();
        });
        },

        watch: {
            showUploadModal (newVal) {
                if (newVal > 0) {
                    $("#modalUpload").modal('show')
                }
            },
            url (newUrl) {
                this.$refs[this.id].setOption('url', newUrl)
            }
        },

        methods: {
            onSuccessUpload (file) {
                if ( this.maxFiles == 1) {
                    this.$emit('onUploadComplete', file );
                    $("#modalUpload").modal('hide');
                }
            },

            errorUpload(file, message){
                this.$emit('errorUpload', message );
            },

            uploadFiles(){
                this.$refs[this.id].processQueue();
            },
        }
    }
</script>
