<template>

    <div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Servidores disponibles</span>
                </div>
                <div class="actions">
                    <a href="/servidores/nuevo"
                       class="btn btn-primary"
                    >
                        <i class="fa fa-plus"></i>
                        Agregar servidor
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div v-for="server in servers" class="col-md-3 padding-15">
                        <div class="text-center server-card">
                            <div class="margin-20">
                                <label class="font-size-20">{{ server.name }}</label>

                                <div class="pull-right">
                                    <a class="btn btn-primary btn-sm blue"
                                       :href="'/servidores/ver/' + server.id"
                                    >
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <button class="btn btn-primary btn-sm red"
                                            @click="deleteServer(server.id)"
                                    >
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>

                            </div>

                            <vue-chart  :used="parseFloat(server.used)"
                                        :available="server.size - parseFloat(server.used)"
                            />
                            <label class="margin-20 font-size-20">
                                Ubicado en: {{ server.location }}
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</template>

<script>
    export default {
        props: {

        },
        data: function() {
            return {
                servers: [],
            }
        },

        mounted() {
            this.getServers();
        },

        methods: {
            getServers(){
                axios.get('/api/servidores')
                    .then( (resp) => {
                        this.servers = resp.data;
                    })
                    .catch( (resp) => {
                        swal('Error', 'Ocurrió un error al cargar los servidores', 'error');
                        console.log(resp);
                    });
            },

            deleteServer(id){
                let self = this;
                swal({
                        title: '¿Eliminar servidor?',
                        text: 'El servidor se eliminará',
                        type: 'error',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No',
                    },
                    function(){
                        axios.delete('/api/servidores/' + id)
                            .then((response) => {
                                swal({
                                title: "Exito",
                                text: response.data,
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#337AB7",
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                                }, function(){
                                    self.getServers();
                                });
                            }, (response) => {
                                console.log(response);
                                swal( "Error", response.data, 'error');
                            });
                    });
            },
        },
        watch: {

        },

    }
</script>
