<template>

    <div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue"></i>
                    <span class="caption-subject font-blue sbold uppercase">Nuevo servidor</span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <div :class="{'form-group': true, 'has-error': errors.has('name')}">
                                <label class="control-label"> Nombre </label>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="Nombre del servidor"
                                        name="name"
                                        data-vv-as="  "
                                        v-model="server.name"
                                        v-validate="{ rules: { required: true }}"
                                >
                                <span v-show="errors.has('name')"
                                      class="help-block"
                                >
                                {{ errors.first('name') }}
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <div :class="{'form-group': true, 'has-error': errors.has('size')}">
                                <label class="control-label"> Tamaño </label>
                                <input  type="number"
                                        class="form-control"
                                        placeholder="Tamaño del servidor"
                                        name="size"
                                        data-vv-as="  "
                                        v-model="server.size"
                                        v-validate="{ rules: { required: true, numeric: true }}"
                                >
                                <span v-show="errors.has('size')"
                                      class="help-block"
                                >
                                    {{ errors.first('size') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <div :class="{'form-group': true, 'has-error': errors.has('location')}">
                                <label class="control-label"> Ubicación </label>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="Ubicación del servidor"
                                        name="location"
                                        data-vv-as="  "
                                        v-model="server.location"
                                        v-validate="{ rules: { required: true }}"
                                >
                                <span v-show="errors.has('location')"
                                      class="help-block"
                                >
                                    {{ errors.first('location') }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3 margin-top-20">
                            <button class="btn btn-primary pull-right"
                                    @click="saveData()"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

</template>

<script>
    export default {
        props: {

        },
        data: function() {
            return {
                server: {
                    name: '',
                    size: '',
                    location: ''
                }
            }
        },

        mounted() {

        },

        methods: {
            saveData(){
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            axios.post('/api/servidores' , this.server)
                                .then((response) => {
                                    swal({
                                        title: "Exito",
                                        text: "Los datos se enviaron correctamente",
                                        type: "success",
                                        showCancelButton: false,
                                        confirmButtonColor: "#337AB7",
                                        confirmButtonText: "Ok",
                                        closeOnConfirm: false
                                    },
                                    function(){
                                        window.location.href = '/servidores';
                                    });
                                },
                                ).catch((err) => {
                                    swal('Error', err.response.data , 'error' );
                                });
                        }
                        else {
                            swal( "Advertencia", "Por favor, ingresa los campos requeridos." , "warning");
                        }
                    })
            }
        },
        watch: {

        },

    }
</script>
