<template>
    <div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalFile">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Agregar Archivo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div :class="{'form-group': true, 'has-error': errors.has('name')}">
                                    <label class="control-label"> Nombre </label>
                                    <input  type="text"
                                            class="form-control"
                                            placeholder="Nombre del archivo"
                                            name="name"
                                            data-vv-as="  "
                                            v-model="file.name"
                                            v-on:keyup.enter="saveCreate()"
                                            v-validate="{ rules: { required: true }}"
                                    >
                                    <span v-show="errors.has('name')"
                                          class="help-block"
                                    >
                                        {{ errors.first('name') }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div :class="{'form-group': true, 'has-error': errors.has('ext')}">
                                    <label class="control-label"> Extención </label>
                                    <input  type="text"
                                            class="form-control"
                                            placeholder="Extención del archivo"
                                            name="ext"
                                            data-vv-as="  "
                                            v-model="file.ext"
                                            v-on:keyup.enter="saveCreate()"
                                            v-validate="{ rules: { required: true }}"
                                    >
                                    <span v-show="errors.has('ext')"
                                          class="help-block"
                                    >
                                        {{ errors.first('ext') }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div :class="{'form-group': true, 'has-error': errors.has('content')}">
                                    <label class="control-label"> Contenido </label>
                                    <textarea   type="text"
                                                class="form-control"
                                                name="content"
                                                data-vv-as="  "
                                                v-on:keyup.enter="saveCreate()"
                                                v-model="file.content"
                                                v-validate="{ rules: { required: true }}"
                                    ></textarea>
                                    <span v-show="errors.has('content')"
                                          class="help-block"
                                    >
                                    {{ errors.first('content') }}
                                </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                data-dismiss="modal"
                                class="btn dark btn-outline"
                                @click="discardCreate()"
                        >Descartar</button>
                        <button type="button"
                                class="btn green"
                                @click="saveCreate()"
                        >Guardar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    </div>
</template>

<script>

    export default {
        props: {
            actualFolder: {
                type: Number,
                required: true
            }
        },
        data: function () {
            return {
                file: {
                    name: '',
                    ext: '',
                    content: ''
                }
            }
        },

        mounted: function () {
            $('#modalFile').on('hidden.bs.modal', () => {
                this.file.name = '';
                this.file.ext = '';
                this.file.content = '';
                this.$validator.reset();
            });
        },

        watch: {

        },

        methods: {
            saveCreate(){
                let self = this;
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            this.file['file_id'] = this.actualFolder;
                            axios.post('/api/archivos/archivo ' , this.file)
                                .then((response) => {
                                    self.$emit('responseAddFile', response);
                                },
                                ).catch((err) => {
                                    $('#modalFile').modal('hide');
                                    if(err.status == 403){
                                        swal('Error', 'No se pudo agregar, es un archivo peligroso' , 'error' );
                                    }else{
                                        swal('Error', 'Ocurrió un error al crear el archivo' , 'error' );
                                    }
                                });
                        }
                })
            }
        }
    }
</script>
