<template>
    <div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalFolder">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Agregar Folder</h4>
                    </div>
                    <div class="modal-body">

                        <div :class="{'form-group': true, 'has-error': errors.has('name')}">
                            <label class="control-label"> Nombre </label>
                            <input  type="text"
                                    class="form-control"
                                    placeholder="Nombre del folder"
                                    name="name"
                                    data-vv-as="  "
                                    v-model="name"
                                    v-validate="{ rules: { required: true }}"
                                    v-on:keyup.enter="saveCreate()"
                            >
                            <span v-show="errors.has('name')"
                                  class="help-block"
                            >
                                    {{ errors.first('name') }}
                                </span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                data-dismiss="modal"
                                class="btn dark btn-outline"
                                @click="discardCreate()"
                        >Descartar</button>
                        <button type="button"
                                class="btn green"
                                @click="saveCreate()"
                        >Guardar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    </div>
</template>

<script>

    export default {
        props: {
            actualFolder: {
                type: Number,
                required: true,
            }
        },
        data: function () {
            return {
                name: ''
            }
        },

        mounted: function () {
            $('#modalFolder').on('hidden.bs.modal', () => {
                this.name = '';
                this.$validator.reset();
            });
        },

        watch: {

        },

        methods: {
            saveCreate(){
                let self = this;
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            axios.post('/api/archivos/directorio' , {name: this.name, file_id: this.actualFolder})
                                .then((response) => {
                                    self.$emit('responseAddFolder', response);
                                },
                                ).catch((err) => {
                                    swal('Error', err.response.data , 'error' );
                                });
                        }
                    })
            }
        }
    }
</script>
