<template>
    <div class="row">

        <div class="col-lg-3 col-md-4 margin-top-10" v-for="(group,index) in groups">
            <div class="app-card-permissions">
                <h2>{{group.name}}</h2>
                <div class="margin-top-40 elements-space">
                    <div class="mt-checkbox-inline">
                        <label class="mt-checkbox">
                            <input type="checkbox" :id="'createCB'+index" @click="saveChange(group)" v-model="group.create" value="option1"> Crear
                            <span></span>
                        </label>
                        <label class="mt-checkbox">
                            <input type="checkbox" :id="'readCB'+index" @click="saveChange(group)" v-model="group.read" value="option2"> Leer
                            <span></span>
                        </label>
                        <label class="mt-checkbox">
                            <input type="checkbox" :id="'updateCB'+index" @click="saveChange(group)" v-model="group.update" value="option1"> Editar
                            <span></span>
                        </label>
                        <label class="mt-checkbox">
                            <input type="checkbox" :id="'deleteCB'+index" @click="saveChange(group)" v-model="group.delete" value="option2"> Eliminar
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props : [''],
        data: function() {
            return {
                apps: [],
                newGroup: "",
                newUser: "",
                createP: false,
                readP: false,
                updateP: false,
                deleteP: false,
                activeCard: {},
                users: [],
                activeUsers: [],
                groups:[],
                activeGroups: [],
            }
        },
        mounted: function(){

            $('[data-toggle="popover"]').popover();

            let self = this;

            $("#createCB").click( function(){
                if( $(this).is(':checked') == true){
                    self.readP = true;
                }
            });

            $("#updateCB").click( function(){
                if( $(this).is(':checked') == true){
                    self.readP = true;
                    $("#readCB").prop('checked', true);
                }
            });

            $("#deleteCB").click( function(){
                if( $(this).is(':checked') == true){
                    self.readP = true;
                    $("#readCB").prop('checked', true);
                }
            });

            //Si detecta que tiene permiso de crear, editar o eliminar, el permiso de ver se queda como true
            $("#readCB").click( function(){
                if( $("#updateCB").is(':checked') == true || $("#createCB").is(':checked') == true || $("#deleteCB").is(':checked') == true){
                    self.readP = true;
                    $("#readCB").prop('checked', true);
                }
            });


            axios.get('/api/grupos' )
                .then((response) => {
                    this.groups = response.data;
                }, (response) => {
                    swal( "Error", 'Ocurrió un error al cargar los elementos, intenta más tarde', 'error');
                     let self = this;
                    for(let i = 0; i < this.groups.length; i++){

                        $("#createCB"+i).click( function(){
                            if( $(this).is(':checked') == true){
                                self.groups[i].create = true;
                            }else{
                                self.groups[i].create = false;
                            }
                            self.saveChange(self.group[i]);
                        });
                        $("#readCB"+i).click( function(){
                            if( $(this).is(':checked') == true){
                                self.groups[i].read = true;
                            }else{
                                self.groups[i].read = false;
                            }
                            self.saveChange(self.group[i]);
                        });
                        $("#updateCB"+i).click( function(){
                            if( $(this).is(':checked') == true){
                                self.groups[i].update = true;
                            }else{
                                self.groups[i].update = false;
                            }
                            self.saveChange(self.group[i]);
                        });
                        $("#deleteCB"+i).click( function(){
                            if( $(this).is(':checked') == true){
                                self.groups[i].delete = true;
                            }else{
                                self.groups[i].delete = false;
                            }
                            self.saveChange(self.group[i]);
                        });
                    }
                });
        },

        methods: {

            saveChange(group){
                swal({
                    title: "¿Deseas guardar los cambios?",
                    text: "Los permisos se modificarán",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Si, eliminar",
                    cancelButtonText: "No, cancelar",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(isConfirm) {
                    if (isConfirm) {
                        let permissions = {
                            'create': group.create,
                            'read': group.read,
                            'update': group.update,
                            'delete': group.delete
                        };

                        axios.patch('/api/grupos/editar/' + group.id , permissions)
                            .then(res => {
                                swal('Exito', res.data , 'success');
                            })
                            .catch(err => {
                                swal('Error', 'Ocurrió un error guardar los permisos', 'error');
                                console.log(err)
                            });
                    }
                });
            },

        },

        watch: {

        }

    }
</script>
